.nav {
  grid-area: nav;
  background-color: rgb(106, 110, 106);
  padding-top: 20px;
  padding-left: 10px;
  }
  
  .navLink {
    font-size: 25px;
    font-family: fangsong;
    font-weight: 900;
    margin: 10px;
    text-decoration: none;
    color: white;
  }
  
  .navLink a:hover {
    color: rgb(166, 172, 166);
    font-size: 27px;
  }
  

  .active {
    color: rgb(19, 18, 18);
    font-family: fangsong;
    font-size: 27px;
    margin: 10px;
  }


 